<!-- Footer start -->
<footer class="footer">
    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <!-- <p class="copy">© {{ companydetail.copyright_year }} <a href="#">Carzone Corp.</a> All Rights Reserved.</p> -->
                    <p class="copy">© {% now 'Y' %} Carzone Corp. All Rights Reserved.</p>
                </div>
                <div class="col-lg-4">
                    <div class="social-list-2">
                        <ul>
                            <li><a href="{{ companydetail.facebook }}" target="_blank" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="{{ companydetail.twitter }}" target="_blank" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="{{ companydetail.instagram }}" target="_blank" class="google-bg"><i class="fa fa-youtube-play"></i></a></li>
                            <li><a href="{{ companydetail.linkedIn }}" target="_blank" class="linkedin-bg"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="{{ companydetail.rss }}" target="_blank" class="rss-bg"><i class="fa fa-rss"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer end -->